absl_py==1.4.0+computecanada
alabaster==0.7.12+computecanada
anyio==3.7.1+computecanada
argon2_cffi==21.3.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
arrow==1.2.3+computecanada
asttokens==2.2.1+computecanada
astunparse==1.6.3+computecanada
async-lru==2.0.4
attrs==23.1.0+computecanada
Babel==2.10.3+computecanada
backcall==0.2.0+computecanada
beautifulsoup4==4.12.2+computecanada
bleach==6.0.0+computecanada
cachetools==5.3.1+computecanada
certifi==2022.12.7+computecanada
cffi==1.15.1+computecanada
charset_normalizer==3.1.0+computecanada
colorama==0.4.6+computecanada
comm
contourpy==1.0.7+computecanada
cycler==0.11.0+computecanada
debugpy
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
docutils==0.19+computecanada
exceptiongroup==1.1.3
executing==1.2.0+computecanada
fastjsonschema==2.18.0+computecanada
flatbuffers==20190709135844+computecanada
fonttools==4.42.0+computecanada
fqdn==1.5.1+computecanada
future==0.18.2+computecanada
gast==0.4.0+computecanada
google-pasta==0.2.0+computecanada
google_auth==2.21.0+computecanada
google_auth_oauthlib==1.0.0+computecanada
grpcio==1.51.3+computecanada
h5py==3.8.0+computecanada
idna==3.4+computecanada
imagesize==1.4.1+computecanada
ipykernel
ipython==8.14.0
ipython_genutils==0.2.0+computecanada
ipywidgets
isoduration==20.11.0+computecanada
jax==0.4.9+computecanada
jaxlib==0.4.7+cuda11.cudnn82.computecanada
jedi==0.18.2+computecanada
Jinja2==3.1.2+computecanada
joblib==1.3.1+computecanada
json5==0.9.14
jsonpointer==2.3+computecanada
jsonschema==4.19.0
jsonschema_specifications==2023.7.1+computecanada
jupyter==1.0.0+computecanada
jupyter-console==6.4.0+computecanada
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server
jupyter_server_terminals==0.4.4+computecanada
jupyterlab
jupyterlab_pygments==0.2.2+computecanada
jupyterlab_server
jupyterlab_widgets==3.0.8+computecanada
keras==2.12.0+computecanada
keras-tuner==1.0.2+computecanada
kiwisolver==1.4.4+computecanada
libclang==14.0.1+computecanada
Markdown==3.4.3+computecanada
MarkupSafe==2.1.2+computecanada
matplotlib==3.7.0+computecanada
matplotlib_inline==0.1.6+computecanada
mistune==3.0.1+computecanada
ml_dtypes==0.2.0+computecanada
nbclient==0.8.0+computecanada
nbconvert==7.7.3+computecanada
nbformat
nest_asyncio==1.5.6+computecanada
notebook
notebook_shim
numpy==1.23.0+computecanada
oauthlib==3.2.2+computecanada
openslide_python==1.2.0+computecanada
opt_einsum==3.3.0+computecanada
overrides
packaging==23.1+computecanada
pandas==2.0.0+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==9.5.0+computecanada
platformdirs
prometheus_client==0.17.1+computecanada
prompt-toolkit
protobuf==4.22.2+computecanada
psutil==5.9.4+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pyasn1==0.5.0+computecanada
pyasn1_modules==0.3.0+computecanada
pycparser==2.21+computecanada
Pygments==2.15.1+computecanada
pyparsing
python-dateutil==2.8.2+computecanada
python_json_logger==2.0.7+computecanada
pytz==2023.3+computecanada
PyYAML==6.0+computecanada
pyzmq==25.0.0+computecanada
qtconsole==5.3.2+computecanada
QtPy==2.2.0+computecanada
referencing
requests==2.28.2+computecanada
requests_oauthlib==1.3.1+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rpds_py==0.8.8+computecanada
rsa==4.9+computecanada
scikit_learn==1.3.0+computecanada
scipy==1.10.1+computecanada
seaborn==0.12.2+computecanada
Send2Trash==1.8.2+computecanada
six==1.16.0+computecanada
sniffio==1.3.0+computecanada
snowballstemmer==2.2.0+computecanada
soupsieve==2.4.1+computecanada
Sphinx==5.1.1+computecanada
sphinx-rtd-theme==0.4.3+computecanada
sphinxcontrib-applehelp==1.0.2+computecanada
sphinxcontrib-devhelp==1.0.2+computecanada
sphinxcontrib-htmlhelp==2.0.0+computecanada
sphinxcontrib-jsmath==1.0.1+computecanada
sphinxcontrib-qthelp==1.0.3+computecanada
sphinxcontrib-serializinghtml==1.1.5+computecanada
stack_data==0.6.2+computecanada
tabulate==0.9.0+computecanada
tensorboard==2.12.1+computecanada
tensorboard_data_server==0.7.0+computecanada
tensorboard_plugin_wit==1.8.1+computecanada
tensorflow==2.12.0+computecanada
tensorflow_estimator==2.12.0+computecanada
tensorflow_io_gcs_filesystem==0.26.0+computecanada
termcolor==2.3.0+computecanada
terminado==0.17.1+computecanada
terminaltables==3.1.10+computecanada
threadpoolctl==3.1.0+computecanada
tinycss2==1.2.1+computecanada
tomli==2.0.1+computecanada
tornado==6.2+computecanada
tqdm==4.65.0+computecanada
traitlets==5.9.0+computecanada
typing_extensions==4.5.0+computecanada
tzdata==2023.3+computecanada
uri_template==1.2.0+computecanada
urllib3==1.26.15+computecanada
wcwidth==0.2.6+computecanada
webcolors==1.13+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.6.1+computecanada
Werkzeug==2.3.6+computecanada
widgetsnbextension==4.0.8+computecanada
wrapt==1.14.1+computecanada
